@media (max-width: 900px) {

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .card {
        max-width: 375px;
        flex-direction: column-reverse;
    }

    .container .card-information{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .container .card-information p{
        line-height: 2em;
    }
    .card .image {
        border-radius: 15px 15px 0px 0px;
        width: 100%;
        height: auto;
    }

    .card-numbers {
        flex-direction: column;

    }
    .counter-type {
        text-align: start;
        justify-content: center;
        align-items: center;
    }
    .info p{
        text-align: center;
    }
}